<!DOCTYPE html>
<html>
<head>
    <title>로그아웃</title>
    <link type="text/css" rel="stylesheet" href=<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    <div align="center">
        <fieldset>
            <div>로그아웃 되었습니다.</div>
            <div><a href="{% url 'home' %}">메인 페이지로 이동</a></div>
        </fieldset>
    </div>
</body>
</html>

