<!-- 로그인 페이지 -->

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href=<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>로그인</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>로그인</h4>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input type="text" name="username" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-success" value="로그인">
            </div>
        </div>
    </form>

</body>
</html>
