<!--
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            $(function(){
                $("#btn").click(function(){
                    alert("취소버튼");
                })
            })
        </script>

    </head>
    <body>
        <form action="./join.do">
            <p>ID</p><input type="text" placeholder="아이디를 입력해주세요" name="id" id="id" /> <br />
            <p>PW</p><input type="password" placeholder="비밀번호를 입력해주세요" name="pw" id="pw" /> <br />
            <p>email</p><input type="email" placeholder="이메일을 입력해주세요" name="email" id="email" /> <br />
            <input type="hidden" name="hid" value="hid" /> <br />
            <input type="submit" value="완료" />
            <input type="reset" value="초기화" />
            <input type="button" id="btn" value="취소" />

        </form>
    </body>
</html>
-->
<h2>회원가입</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="회원가입" />
</form>
