{% extends "layout/layout.html" %}

{% block title %}게시물 삭제{% endblock title %}

{% block content %}

<div class="container">
    <div class="text-left">
        게시물을 정말 삭제 하시겠습니까?
    </div>
    <form action="/board/delete/" method="POST">
        {% csrf_token %}
        <div class="btn-group">
            <input type="hidden" name="id" value="{{ id }}">
            <button class="btn btn-danger" type="submit">삭제</button>
            <button class="btn btn-success" type="button"
            onclick="location.href='{% url 'detail' id %}'">취소</button>
        </div>
    </form>
</div>

{% endblock content %}
