{% extends "layout/layout.html" %}

{% block script %}
    {{ block.super }}
    <!-- {{ form.media }} 추가 -->
    {{ form.media }}
{% endblock %}

{% block title %}새로운 글 작성{% endblock %}

{% block content %}

<div class="container">
<form action="{% url 'write' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title }}
    </div>
    <div class="form-group">
        <!-- author의 input type은 hidden이기 때문에 숨겨서 값을 보내준다 -->
        {{ form.author }}
    </div>
    <div class="form-group">
        {{ form.context }}
    </div>
    <div class="text-right">
        <button type="submit">작성</button>
    </div>
</form>
</div>
{% endblock %}