<html>
<head>
  <title>배달의 민족</title>

</head>
<body>
    <center>
    <div>
        <h1><a href="/"><b>배달의 민족</b></a></h1>
    </div>
    </center>

    <div align="right">
        <right>
        <li><a href="/account/login">로그인</a></li>
        </right>
    </div>
    <div align="right">
        <li><a href="/account/signup">회원가입</a></li>
    </div>

    <div align="right">
        <li><a href="/store/create">매장 등록</a></li>
    </div>

    <center>
        <div>
            <input type="text" placeholder= 주소를입력해주세요.>
        </div>
    </center>
    <div>
        <li><a href="/store">전체보기</a></li>
    </div>

    <div>
        <li><a href="/">한식</a></li>
    </div>

    <div>
        <li><a href="/">일식</a></li>
    </div>

    <div>
        <li><a href="/">중식</a></li>
    </div>
    <div>
        <li><a href="/">양식</a></li>
    </div>

</body>
</html>
